.not-found {
    position: relative;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.gallery-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 0 0 180px 0;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.gallery-page .title-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    align-items: center;
}

.gallery-page .title-group .page-title {
    height: 50px;
}

.gallery-page .gallery-group {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 0;
    margin: 20px 0 60px;
}

.gallery-page .gallery-group .image-preview {
    border: 1px solid grey;
    border-radius: 10px;
    width: 200px;
    height: 300px;

    object-fit: cover;
    object-position: center;
    transition: all 0.5s ease;
}

.gallery-page .gallery-group .image-preview:hover {
    cursor: pointer;
    opacity: 80%; /*cheating but it works*/
}