.salon-dashboard-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 180px;
}

.dashboard-cards {
    display: flex;
    gap: 20px;
    align-items: center;
}

.dashboard-cards .card {
    background-color: #fff8f4ff;
    box-shadow: inset 0 0 4px #a69385ff;
    padding: 18px;
    border-radius: 10px;
    height: 300px;
    width: 15vw;
    max-width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Lateef;
    font-size: 30px;
    position: relative;
    text-decoration: none;
    color: black;
}

.dashboard-cards .card .card-logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-cards .card .card-title {
    
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Lateef;
    font-size: 30px;

    text-decoration: none;
    color: black;
}

.dashboard-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dashboard-group .group-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dashboard-group .group-header .group-title {
    font-family: Lateef;
    font-weight: 500;
    font-size: 45px;
    margin: 15px 0 0 0;
    padding: 0;
    line-height: 1;
    height: 34px;
}

.dashboard-group .group-header .group-extra {
    font-family: 'Kumbh Sans';
    color: #4c4c4c;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.dashboard-group .grey-divider {
    width: 70vw;
    max-width: 700px;
    height: 2px;
    background-color: #b6b6b6;
    margin: 10px 0 0 0
}

.dashboard-group .rating-div {
    margin: 0;
    padding: 0;
    line-height: 1;
    height: 25px;
    font-family: 'Kumbh Sans';
}

.rating-div .rating-unavailable {
    color: #4c4c4c;
    font-size: 16px;
    margin: 5px 0 0 0;
    padding: 0;
}

.rating-div .rating-available {
    margin: 0;
    padding: 0;
    color: #E6AF50;
    font-size: 25px;
}

.about-us {
    max-width: 550px;
    margin: 0;
    
}

.meet-staff {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    gap: 20px;
}

/*maybe make review component*/

.review-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-btn {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.review-btn .prev-next {
    background-color: #fff8f4ff;
    color: black;
    padding: 5px 2px;
    border-radius: 15px;
    box-shadow: inset 0 0 4px #a69385ff;
    width: 80px;
    border: none;
    font-family: 'Kumbh Sans';
    transition: all 0.3s ease;
}

.review-btn .prev-next:hover:not(:disabled) {
  background-color: #d8ae82;
  cursor: pointer;
}

.review-btn .prev-next:disabled {
  color: #a5a5a5ff;
  cursor: not-allowed;
  opacity: 0.7;
}

.reviews {
    width: 70vw;
    max-width: 900px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.reviews .review-item {
    
    padding: 20px;
    border-radius: 15px;
    background-color: #fff8f4ff;
    box-shadow: inset 0 0 4px #a69385ff;
    width: 50%;
    max-width: 780px;
    

}

.reviews .review-item .grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
    width: 100%;
}

.review-item .grid-layout .review-name {
    grid-row: 1;
    grid-column: 1;
    margin: 0;
    line-height: 1;
    align-self: center;
    text-wrap: nowrap;
    
}

.review-item .grid-layout .review-rating {
    grid-row: 1;
    grid-column: 2;
    margin: 0;
    justify-self: end;
    font-size: 30px;
}

.review-item .grid-layout .review-rating.available {
    font-weight: 500;
    font-family: 'Kumbh Sans';
}

.review-item .grid-layout .review-date {
    grid-row: 2;
    grid-column: 1 / -1;
    width: 100%;
    margin: 0;
}

.review-item .grid-layout .review-comment {
    grid-row: 3;
    grid-column: 1 / -1;
    width: 100%;
    margin: 5px 0 0 0;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*should apply too whole app im just adding it in here for clarity*/
.add-salon-item {
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 20px;
    font-family: 'Kumbh Sans';
    border: 1px solid #a4a4a4;
    background-color: white;
    transition: background-color 0.5s ease;
}

.add-salon-item:hover:not(:disabled) {
    background-color: #d2bba0;
    border: 1px solid #887259;
    cursor: pointer;
}

.add-salon-item:disabled {
    cursor: not-allowed;
}
