@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&display=swap');

.AccountDetails {
    position: relative;
    overflow-y: auto;
    height: auto;
    padding-bottom: 19vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #faf7f2;
    color: #2d2623;
}
.AccountDetails h1 {
    margin: 0;
    font-family: "Lateef";
    font-size: 7vw;
    font-weight: 400;
}
.AccountDetails h3 {
    font-family: "Inter", sans-serif;
    font-size: 2vw;
    font-weight: 500;
    margin-top: 30px;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #3a2c27;
}
.AccountDetails hr {
    width: 70%;
    margin: 0;
    border: none;
    border-top: 2px solid #b3b3b3;
}
.DetailGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 80px;
    padding: 10px;
    margin-bottom: 20px;
}
.Detail {
    flex: 1 1 calc(33.33% - 80px);
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
}
.DetailGroup h1 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.5vw;
    color: #2d2623;
    margin-bottom: 10px;
}
.DetailGroup h2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    color: #4b403b;
    margin: 0;
}