body {
  background-color: #f5eee6;
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

.CustomerRegistrationBoxPart1 {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
  border-radius: 12px;
  overflow: hidden;
  background-color: #E8DCC8;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.title {
  text-align: center;
  padding: 20px 20px 10px 20px;
  background-color: #E8DCC8;
}

.title h1 {
  font-size: 80px;
  font-weight: 700;
  color: #000;
  margin-bottom: 5px;
}

.title p {
  font-size: 18px;
  color: #000000;
  margin-bottom: 15px;
}

.formRegister {
  background-color: #f8f0e3;
  padding: 50px 60px;
  border-top: 1px solid #d6c7b8;
  margin: 0px 60px;
  margin-bottom: 20px;
}

.formTitle {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #000;
}

.formRow {
  display: flex;
  gap: 40px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.formGroup {
  flex: 1;
  min-width: 250px;
}

.formGroup label {
  display: block;
  font-size: 15px;
  margin-bottom: 8px;
  color: #333;
  font-weight: 600;
}

.formGroup input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.formGroup input::placeholder {
  color: #999;
}

label{
  display: block;
  font-size: 15px;
  margin-bottom: 8px;
  color: #333;
  font-weight: 600;
  margin-left: 60px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}