.my-appts-page {
    position: relative;
    overflow-y: auto;
    height: auto;
    padding-bottom: 19vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #faf7f2;
    color: #2d2623;
}

.my-appts-page .appt-title {
    font-family: Lateef;
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 70px;
    font-weight: 500;
    height: 90px;
}

.my-appts-page .type-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.my-appts-page .inner-title {
    font-family: 'Lateef';
    margin: 0;
    padding: 0;
    font-size: 45px;
    font-weight: 400;
}

.my-appts-page .appt-divider {
    height: 1px;
    width: 80vw;
    background-color: grey;
}

.my-appts-page .new-div {
    width: 80vw;
    max-width: 850px;
    height: 1px;
    background-color: grey;
    margin: 10px 0 0 0;
}