.search-page .nav-border {
    background-color: #f0d7bd; 
    height: 20px; 
    width: 100%;
}

.search-page .inner-format {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; 
    padding: 0;
    margin:30px 20px;
}

.search-page .search-filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    padding: 0;
    min-width: 20vw;
    max-width: 300px;
    min-height: 650px;
    box-shadow: 5px 5px 10px #b0b0b0ff;
}

.search-page .filter-section {
    background-color: #f0d7bd;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 15px;
    flex-grow: 1; /*look into this*/
}

.search-page .filter-title {
    font-weight: 800;
    font-size: 20px;
    font-family: Kumbh Sans;
    padding-top: 6px; 
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
}

.search-page .search-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 14px;
}

.search-page .search-form .input-title {
    padding: 0 0 8px 4px;
    margin: 0;
    font-weight: 500;
    font-size: 13px;
}

.search-page .search-form label {
    margin: 0;
}

.search-page .search-form input {
    border: 0;
    padding: 10px;
    width: 90%;
    font-weight: 500;
    font-family: Kumbh Sans;
    border-radius: 10px;
}

.search-page .search-form .tag-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-page .search-form .category-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search-page .search-form .current-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.search-page .search-form .tag-item {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 8px 15px;
    margin: 0;
}

.search-page .search-form .tag-item .tag-title {
    margin: 0;
    padding: 0;
    font-family: Kumbh Sans;
    color: #6d6d6d;
}

.search-page .search-form .tag-item .tag-remove {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.search-page .search-form .add-categories {
    margin: 0;
    padding: 0;
    width: 100%;
}

.search-page .search-form .input-category {
    border-radius: 10px 0 0 10px;
    font-family: 'Kumbh Sans';
    background-color: white;
    width: 70%;
    border: none;
    padding: 8px;
    font-weight: 500;
}

.search-page .search-form .btn-category {
    border-radius: 0 10px 10px 0;
    width: 30%;
    border: none;
    background-color: #b98a59;
    color: white;
    font-family: Kumbh Sans;
    padding: 8px;
    transition: background-color 0.3s ease;
}

.search-page .search-form .btn-category:hover:not(:disabled) {
    background-color: #d8ae82;
    cursor: pointer;
}

.search-page .search-form .btn-category:disabled {
    background-color: #b98a59;
    cursor: not-allowed;
    opacity: 0.7;
}

.search-page .search-form .input-object-title {
    text-align: start;
    font-weight: 600;
    font-family: Kumbh Sans;
    padding: 0;
    margin: 0;
}

.search-page .button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px;
    flex-shrink: 0;
}

.search-page .button-section .search-btn {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    border: 0;
    background-color: #b98a59;
    color: white;
    font-weight: 500;
    font-size: 15px;
    font-family: Kumbh Sans;
    transition: background-color 0.3s ease;
}

.search-page .button-section .search-btn:hover:not(:disabled) {
    background-color: #d8ae82;
    cursor: pointer;
}

.search-page .button-section .search-btn:disabled{
  background-color: #b98a59;
  cursor: not-allowed;
  opacity: 0.7;
}

/*Search Results*/


.search-page .search-results {
    background-color: #f0d7bd;
    border-radius:20px;
    text-align: center;
    align-items: center;
    width: 60vw;
    max-width: 900px;
    box-shadow: 5px 5px 10px #b0b0b0ff;
    padding: 20px;
}

.search-page .search-results .title-section {
    background-color: #f7ede3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding:0;
}

.search-page .title-section .results-title{
    font-weight: 800;
    font-size: 20px;
    font-family: Kumbh Sans; 
    padding: 15px;
    margin: 0;
}

.search-page .results-selection {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 20px; 
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 25px 20px 30px 20px;
}

.search-page .results-selection .result-item {
    background-color: #f0d7bd;
    border-radius: 15px;
    width: 95%;
    box-shadow: 2px 5px 5px #989898ff;
    font-weight: 300;
    font-size: 20px;
    font-family: Kumbh Sans;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 95%;
    justify-content: center;
    padding: 4px 10px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: black;
}

.search-page .results-selection .result-item:hover {
    background-color: #dfba93;
}

.search-page .item-title {
    flex: 0 0 30%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-align: start;
    font-weight: 600;
}

.search-page .item-category {
    flex: 0 0 20%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.search-page .item-rating {
    flex: 0 0 30%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-align: end;
}

.search-page .stars {
    color: #E6AF50;
}

.search-page .white-divider {
    background-color: white;
    width: 1px;
    height: 40px;
}

.pagination-section {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    padding-bottom: 0;
    padding-top: 20px; 
    padding-left: 20px;
    padding-right: 20px;
}

.pagination-section .prev-next {
    border-radius: 5px;
    width: 80px;
    padding: 10px;
    border: 0;
    background-color: #b98a59;
    color: white;
    font-weight: 500;
    font-size: 15px;
    font-family: Kumbh Sans;
    box-shadow: 2px 2px 5px #563b2dff;
    transition: background-color 0.3s ease;
}

.pagination-section .num-btn {
    border-radius: 5px;
    width: 40px;
    padding: 10px;
    border: 0;
    background-color: #b98a59;
    color: white;
    font-weight: 500;
    font-size: 15px;
    font-family: Kumbh Sans;
    box-shadow: 2px 2px 5px #563b2dff;
    transition: background-color 0.3s ease;
}

.pagination-section .num-btn:hover:not(:disabled), .pagination-section  .prev-next:hover:not(:disabled) {
  background-color: #d8ae82;
  cursor: pointer;
}

.pagination-section .num-btn:disabled, .pagination-section  .prev-next:disabled {
  background-color: #b98a59;
  cursor: not-allowed;
  opacity: 0.7;
}
