@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

.ModalBackground {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.AppointmentModalContainer {
    position: fixed;
    z-index: 2000;
    width: 80%;
    max-width: 900px;
    min-height: 80%;
    max-height: 80%;
    border-radius: 20px;
    background-color: #fffaf5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: fadeIn 0.25s ease-out;
}

.AppointmentModalContainer .AppointmentModalTitle {
    background-color: #efe6da;
    height: auto;
    padding: 20px;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.AppointmentModalContainer .AppointmentModalTitle .step-title {
    font-size: 23px;
    font-weight: 500;
    color: #3b2b1e;
    margin: 0;
    padding: 0;
}

.AppointmentModalContainer .AppointmentModalTitle .appointment-close {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.AppointmentModalContainer .AppointmentModalBody {
    flex: 1;
    padding: 25px 30px;
    overflow-y: auto;
    text-align: left;
    line-height: 1.5;
    
}

.AppointmentModalContainer .AppointmentModalBody .add-service {
    border: none;
    background-color: transparent;
    margin: 12px 0;
    transition: all 0.5s ease;
    font-size: 15px;
}

.AppointmentModalContainer .AppointmentModalBody .add-service:hover {
    box-shadow: 0 0 10px 2px #c19c7f66;
}

.AppointmentModalContainer .AppointmentModalFooter {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-top: 1px solid #e8dccc;
}

.AppointmentModalContainer .modal-btns {
    width: fit-content;
    height: 25px;
    font-size: 12px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s ease;
    color: white;
    background-color: #bfa47c;
    padding: 5px 10px;
}

.AppointmentModalContainer .modal-btns:hover:not(:disabled) {
    background-color: #a18763;
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(191, 164, 124, 0.4);
}

.AppointmentModalContainer .modal-btns:disabled {
    opacity: 70%;
    cursor: not-allowed;
    transform: none;
    background-color: #bfa47c;
    box-shadow: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -48%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
.AppointmentModalContainer .AppointmentModalBody::-webkit-scrollbar {
    width: 8px;
}
.AppointmentModalContainer .AppointmentModalBody::-webkit-scrollbar-thumb {
    background-color: #d1bca0;
    border-radius: 6px;
}

/*employee section*/

.AppointmentModalContainer .AppointmentModalBody .employee-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*date selection section*/

.AppointmentModalContainer .weekly-container {
    justify-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.AppointmentModalContainer .week-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AppointmentModalContainer .week-title {
    font-family: Lateef;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.AppointmentModalContainer .weekly-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #bfa47c;
    border-radius: 20px;
    overflow: hidden;
    justify-self: center;
}

.weekly-grid-row {
    display: grid;
    grid-template-columns: 80px repeat(7, 1fr);
    min-height: 40px;
    border-bottom: 1px solid #ececec;
}

.weekly-grid-row.header-row {
    background-color: #dac9b0;
    font-weight: 600;
}

.day-col-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 3px;
    height: 100%;
    border-right: 1px solid #e2e2e2;
}

.weekday {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.time-col {
    padding: 10px;
    text-align: center;
    border-right: 1px solid #e2e2e2;
    font-weight: 600;
    background: #fafafa;
}

.slot {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-right: 1px solid #eaeaea;
    transition: background 0.15s ease;
    font-size: 0.9rem;
}

/* Available slot */
.slot.available {
    background: #4cb83c;
    color: black;
}

.slot.available:hover:not(:disabled) {
    background: #9ed396
}

/* Booked slot */
.slot.booked {
    background: #d63a3a;
    color: black;
    cursor: not-allowed;
}

/* Not working */
.slot.not_working {
    background: #a0a0a0;
    color: black;
    cursor: not-allowed;
}

/* General unavailable for whatever reason 
(store closed or diff operating hours) */

.slot.unavailable {
    cursor: not-allowed;
    background-color: #a0a0a0;
}

/* Past slots (from backend) */
.past-slot {
    background-color: #a0a0a0 !important;
    cursor: not-allowed !important;
}

.selected-slot {
    background-color: #4a90e2 !important;
    color: white !important;
    border: 2px solid #1c5db1 !important;
    opacity: 1 !important;
}

.selected-slot:hover {
    background-color: #82b2e7 !important;
}

/* Right border cleanup */
.weekly-grid-row div:last-child {
    border-right: none;
}

/*step 4: appointment details*/

.details-title {
    font-family: 'Kumbh Sans';
    font-weight: 400;
    margin: 20px 0 10px 0;
    font-size: 20px;
}

.details-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;
}

.details-text {
    margin: 0;
}

.horizontal-divider {
    height: 1px;
    width: 90%;
    background-color: rgb(168, 168, 168);
    justify-self: center;
    margin-top: 20px;
}

.note-input {
    resize: vertical;
    width: 90%;
    min-height: 80px;
    max-height: 180px;
    background-color: #fdfbf8;
    border-radius: 6px;
    border: 1px solid #e0d5c8;
    padding: 10px 12px;
    position: relative;
    box-sizing: border-box;
}

.AppointmentModalContainer .image-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.AppointmentModalContainer .img-preview {
    max-width: 60%;
    border-radius: 20px;
    border: 1px solid #bfa47c;
}