.staff-item {
    width: 60vw;
    max-width: 700px;
    background-color: white;
    border: 1px solid #a4a4a4;
    border-radius: 10px;
    box-shadow: 0 5px 5px #b0b0b0ff;
    padding: 15px;
    transition: all 0.3s ease-in;
}

.staff-item.selected {
    background-color: #f4e6d0;
    border: 1px solid #e1ceaf;
}

.staff-item.selected:hover {
    background-color: #ead6b6;
}

.staff-item:hover {
    background-color: #f1f1f1;
}

.staff-item .grid-layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
}

.staff-item .grid-layout .employee-img {
    grid-row: 1 / 3;
    grid-column: 1;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: inset 0 0 5px 1px #a5a5a5ff;
    align-self: center;
    justify-self: center;
    background-color: white;
}

.staff-item .grid-layout .employee-name {
    grid-row: 1;
    grid-column: 2;
    font-family: Lateef;
    font-size: 40px;
    font-weight: 500;
    height: 50px;
    margin: 0;
}

.staff-item .grid-layout .employee-description {
    grid-row: 2;
    grid-column: 2;
    font-family: Kumbh Sans;
    font-size: 18px;
    margin: 0;
    width: 100%;
}

.staff-item .tag-section {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.staff-item .employee-tag {
    background-color: #b98a59;
    border-radius: 12px;
    color: white;
    padding: 8px 10px;
    font-family: 'Kumbh Sans';
    font-weight: 300;
    font-size: 15px;
    width: fit-content;
    height: fit-content;
}

/* Owner Grid Layout (formatting for button) */ 

.staff-item.owner .grid-layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
}

.staff-item.owner .grid-layout .item-btn {
    grid-column: 1;
    grid-row: 3 / -1;
    width: fit-content;
    height: fit-content;
    justify-self: center;
    align-self: center;
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding: 8px 15px;
    border: 0;
    border-radius: 50px;
    background-color: #d2bba0;
    transition: all 0.5s ease;
}

.staff-item .item-btn:hover:not(:disabled) {
    background-color: #cba170;
    cursor: pointer;
}

.staff-item .item-btn:disabled {
    cursor: not-allowed;
}

.staff-item.owner .tag-section {
    grid-column: 2;
    grid-row: 4;
}

.staff-item.owner .employee-salary {
    grid-column: 2;
    grid-row: 3;
    margin: 0;
    font-family: Kumbh Sans;
    font-size: 18px;
    padding: 0 0 5px 0;
}

/* edit mode */

.staff-item .edit-grid-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
    border: 1px solid #afafaf;
    border-radius: 10px;
    padding: 10px 20px;
}

.staff-item .edit-grid-layout .edit-input {
    border-radius: 5px;
    border: 1px solid #a8a8a8;
    padding: 5px;
    box-sizing: border-box;
}

.staff-item .edit-grid-layout .edit-label {
    font-weight: 600;
    font-family: Lateef;
    font-size: 25px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    line-height: 1;
}

.staff-item .edit-grid-layout .name-section {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    gap: 10px;
}

.staff-item .edit-grid-layout .name-section .first-name-section, 
.staff-item .edit-grid-layout .name-section .last-name-section {
    display: flex;
    flex-direction: column;
}

.staff-item .edit-grid-layout .edit-remove {
    grid-column: 2;
    grid-row: 1;
    width: 25px;
    height: 25px;
    cursor: pointer;
    justify-self: end;
    align-self: center;
}

.staff-item .edit-grid-layout .description-section {
    grid-column: 1 / -1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}

.staff-item .edit-grid-layout .description-section .edit-input.description {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 180px;
}

.staff-item .edit-grid-layout .salary-section {
    grid-column: 1 / -1;
    grid-row: 3;
    display: flex;
    gap: 3px;
    align-items: center;
}

.staff-item .edit-grid-layout .tag-section {
    grid-column: 1 / -1;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.staff-item .edit-grid-layout .current-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.staff-item .edit-grid-layout .tag-item {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    margin: 0;

    background-color: #b98a59;
    padding: 8px 10px;
    font-family: 'Kumbh Sans';
    font-weight: 300;
    font-size: 15px;
}

.staff-item .edit-grid-layout .tag-item .tag-title {
    margin: 0;
    padding: 0;
    font-family: Kumbh Sans;
    color: white;
}

.staff-item .edit-grid-layout .tag-item .tag-remove {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.staff-item .edit-grid-layout .edit-input.tags {
    border-radius: 5px 0 0 5px;
}

.staff-item .edit-grid-layout .edit-btn-tags {
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #b98a59;
    color: white;
    font-family: Kumbh Sans;
    padding: 7px;
    transition: all 0.5s ease;
}

.staff-item .edit-grid-layout .edit-btn-tags:hover:not(:disabled) {
    background-color: #d8ae82;
    cursor: pointer;
}

.staff-item .edit-grid-layout .edit-btn-tags:disabled {
    background-color: #b98a59;
    cursor: not-allowed;
    opacity: 0.7;
}

.staff-item .edit-grid-layout .edit-buttons {
    grid-column: 1 / -1;
    grid-row: 5;
    display: flex;
    gap: 10px;
    justify-self: center;
    margin-top: 10px;
}

.staff-item .edit-grid-layout .edit-btn-save {
    border: none;
    background-color: #59b963;
    border-radius: 15px;
    padding: 8px 15px;
    color: white;
    font-size: 15px;
    transition: background-color 0.5s ease;
}

.staff-item .edit-grid-layout .edit-btn-save:hover:not(:disabled) {
    background-color: #118c1e;
    cursor: pointer;
    border: none;
}

.staff-item .edit-grid-layout .edit-btn-save:disabled {
    background-color: #a2e4a8;
    cursor: not-allowed;
}

.staff-item .edit-grid-layout .edit-btn-cancel {
    border: none;
    background-color: #db5e5e;
    border-radius: 15px;
    padding: 8px 15px;
    color: white;
    font-size: 15px;
    transition: background-color 0.5s ease;
}

.staff-item .edit-grid-layout .edit-btn-cancel:hover:not(:disabled) {
    background-color: #b83131;
    cursor: pointer;
    border: none;
}