.full-review {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-review .review-item {
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 10px 2px #b0b0b0ff;
    width: 90%;
    transition: all 0.3s ease-out;
}

.full-review .review-item:hover:not(:disabled) {
    transform: scale(1.03);
}

.full-review .reply-action {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.full-review .reply-action .toggle-replies {
    background-color: transparent;
    border: none;
    transition: all 0.5s ease;
    margin: 10px 0 0 0;
    font-size: 13px;
}

.full-review .toggle-replies:hover:not(:disabled) {
    transform: scale(1.1);
    font-weight: bold;
}

.full-review .toggle-replies.cancel:hover:not(:disabled) {
    transform: scale(1.1);
    font-weight: bold;
    color: #a91818;
}

.full-review .reply-item {
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 10px 2px #b0b0b0ff;
    width: 90%;
    margin: 10px 0 0 0;
    transition: all 0.3s ease-out;
}

.full-review .reply-item:hover:not(:disabled) {
    transform: scale(1.03);
}

.full-review .grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
    width: 100%;
}

.full-review .grid-layout .review-name {
    margin: 0;
    line-height: 1;
    align-self: center;
    justify-self: start;
    text-wrap: nowrap;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Kumbh Sans';
}

.full-review .grid-layout .review-rating {
    grid-row: 1;
    grid-column: 2;
    margin: 0;
    justify-self: end;
    align-self: center;
    font-size: 30px;
    transform: translateY(-2px);
}

.full-review .grid-layout .review-rating.available {
    font-weight: 500;
    font-family: 'Kumbh Sans';
}

.full-review .grid-layout .reply-to {
    grid-row: 1;
    grid-column: 2;
    margin: 0;
    justify-self: end;
    align-self: center;
    font-size: 15px;
    transform: translateY(-2px);
}

.full-review .grid-layout .review-date {
    grid-row: 2;
    grid-column: 1 / -1;
    width: 100%;
    margin: 0;
}

.full-review .grid-layout .review-comment {
    grid-row: 3;
    grid-column: 1 / -1;
    width: 100%;
    margin: 5px 0 0 0;
    height: auto;
    overflow: hidden; /*might remove these*/
    text-overflow: ellipsis; /*might remove these*/
    word-break: break-all;
}

.full-review .end-replies {
    color: rgb(97, 97, 97);
    font-size: 13px;
    padding: 0;
    margin: 25px 0 0 0;
    justify-self: center;
}

.full-review .review-divider {
    width: 90%;
    height: 1px;
    background-color: rgb(182, 182, 182);
    margin: 10px 0;
    justify-self: center;
}

/*editing reviews/replies and adding a reply*/

.full-review .edit-grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: auto auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
    width: 100%;
}

.full-review .edit-grid-layout .review-name {
    grid-row: 1;
    grid-column: 1;
    margin: 0;
    line-height: 1;
    align-self: center;
    justify-self: start;
    text-wrap: nowrap;
}

.full-review .edit-grid-layout .reply-to {
    grid-row: 1;
    grid-column: 2;
    margin: 0;
    justify-self: end;
    align-self: center;
    font-size: 15px;
    transform: translateY(-2px);
}

.full-review .edit-grid-layout .review-rating {
    grid-row: 1;
    grid-column: 2;
    margin: 0;
    justify-self: end;
    align-self: center;
    font-size: 30px;
    transform: translateY(-2px);
}

.full-review .edit-grid-layout .review-rating.available {
    font-weight: 500;
    font-family: 'Kumbh Sans';
}

.full-review .edit-grid-layout .review-date {
    grid-row: 2;
    grid-column: 1 / -1;
    width: 100%;
    margin: 0;
}

.full-review .edit-grid-layout .new-comment {
    grid-row: 3;
    grid-column: 1 / -1;
    width: 100%;
    margin: 5px 0 0 0;
    height: auto;

    border-radius: 5px;
    border: 1px solid #a8a8a8;
    padding: 5px;
    box-sizing: border-box;
    background-color: white;
    resize: vertical;
    min-height: 80px;
    max-height: 180px;
}

.full-review .edit-grid-layout .review-btn-section {
    grid-row: 4;
    grid-column: 1 / -1;
    margin: 5px 0 0 0;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.full-review .edit-grid-layout .review-save {
    justify-self: center;
    color: white;
    background-color: #59b963;

    border: none;
    border-radius: 15px;
    padding: 6px 12px;
    font-size: 15px;
    transition: background-color 0.5s ease;
}

.full-review .edit-grid-layout .review-cancel {
    justify-self: center;
    color: white;
    background-color: #db5e5e;

    border: none;
    border-radius: 15px;
    padding: 6px 12px;
    font-size: 15px;
    transition: background-color 0.5s ease;
}

.full-review .edit-grid-layout .review-cancel:hover:not(:disabled) {
    background-color: #b83131;
    cursor: pointer;
    border: none;
}

.full-review .edit-grid-layout .review-save:hover:not(:disabled) {
    background-color: #118c1e;
    cursor: pointer;
    border: none;
}

.full-review .edit-grid-layout .review-save:disabled {
    background-color: #a2e4a8;
    cursor: not-allowed;
}

.full-review .header-section {
    margin: 0;
    padding: 0;
    grid-row: 1;
    grid-column: 1;
    display: flex;
    gap: 5px;
}

.edit-pencil {
    background-color: transparent;
    border: none;
    margin: 0 0 0 5px;
    padding: 0 10px;
    transform: translateY(1px);
    transition: all 0.3s ease;
    border-radius: 50%;
}

.edit-pencil:hover:not(:disabled),
.edit-trash:hover:not(:disabled) {
    transform: scale(1.1);
    background-color: #efe6da;
}

.edit-pencil:hover:disabled,
.edit-trash:hover:disabled {
    opacity: 50%;
    cursor: not-allowed;
}

.edit-trash {
    grid-row: 1;
    grid-column: 3;
    background-color: transparent;
    border: none;
    margin: 0 0 0 5px;
    padding: 6px 9px;
    transform: translateY(1px);
    transition: all 0.3s ease;
    border-radius: 50%;
    cursor: pointer;
}