.full-review {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-review .review-item {
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 10px 2px #b0b0b0ff;
    width: 90%;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.full-review .review-item:hover:not(:disabled) {
    transform: scale(1.03);
}

.full-review .toggle-replies {
    background-color: transparent;
    border: none;
    transition: all 0.5s ease;
    margin: 10px 0 0 0;
    font-size: 13px;
}

.full-review .toggle-replies:hover:not(:disabled) {
    transform: scale(1.1);
    font-weight: bold;
}

.full-review .reply-item {
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 10px 2px #b0b0b0ff;
    width: 90%;
    margin: 10px 0 0 0;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.full-review .reply-item:hover:not(:disabled) {
    transform: scale(1.03);
}

.full-review .grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
    width: 100%;
}

.full-review .grid-layout .review-name {
    grid-row: 1;
    grid-column: 1;
    margin: 0;
    line-height: 1;
    align-self: center;
    justify-self: start;
    text-wrap: nowrap;
    
}

.full-review .grid-layout .review-rating {
    grid-row: 1;
    grid-column: 2;
    margin: 0;
    justify-self: end;
    align-self: center;
}

.full-review .grid-layout .review-rating.available {
    font-weight: 500;
    font-family: Kumbh Sans;
}

.full-review .grid-layout .review-date {
    grid-row: 2;
    grid-column: 1 / -1;
    width: 100%;
    margin: 0;
}

.full-review .grid-layout .review-comment {
    grid-row: 3;
    grid-column: 1 / -1;
    width: 100%;
    margin: 5px 0 0 0;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.full-review .end-replies {
    color: rgb(97, 97, 97);
    font-size: 13px;
    padding: 0;
    margin: 25px 0 0 0;
}

.full-review .review-divider {
    width: 90%;
    height: 1px;
    background-color: rgb(182, 182, 182);
    margin: 10px 0;
}