.NavBar {
    box-sizing: border-box;
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 10px 50px;
    background-color: #f7ede3;
    justify-content: space-between;
    align-items: center;
}

.NavBar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 30px;
    font-size: 20px;
    font-weight: 600;
}

.NavLeft {
    justify-content: flex-start;
}

.NavRight {
    justify-content: flex-end;
}

.NavBar a {
    color: black;
    text-decoration: none;
    border-radius: 25px;
    padding: 12px 18px;
    transition: all 0.3s ease;
}

.NavBar a:hover {
    color: #555;
}

.NavBar a.Register {
    background-color: #b98a59;
    color: #ffffff;
    border-radius: 8px;
    padding: 15px 20px;
    transition: all 0.3s ease;
}

.NavBar a.Register:hover {
    background-color: #99744c;
}

.NavBar a.Selected {
    background-color: #b98a59;
    color: #ffffff;
    border-radius: 25px;
    padding: 12px 18px;
    transition: all 0.3s ease;
}

.NavBar a.Selected:hover {
    background-color: #99744c;
}