.salon-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.header-image {
    box-shadow: inset 0 0 4px #a69385ff;
    width: 90vw;
    max-width: 1100px;
    height: 220px;
    background-color: #fff8f4ff; 
    border-radius: 10px;
    position: relative;
    padding: 18px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.header-btn {
    background-color: #b98a59;
    color: white;
    border-radius: 50px;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.header-btn:hover {
    background-color: #e1b78a;
    color: white;
}

.header-btn .image {
    color: white;
    text-decoration: none;
    width: 20px;
}

.header-title {
    font-family: Lateef;
    font-weight: 500;
    font-size: 70px;
    height: 80px;
    margin: 0;
}

.header-tags {
    margin: 0;
    display: inline-block;
    width: 70vw;
    font-family: Kumbh Sans;
    color: #4c4c4c;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.header-rating {
    height: 25px;
    font-family: Kumbh Sans;
    font-size: 16px;
    margin: 0 0 10px 0;
    padding: 0;
}

.header-rating .rating-unavailable {
    color: #4c4c4c;
    font-size: 16px;
    margin: 10px 0 0 0;
    padding: 0;
}

.header-rating .rating-available {
    margin: 0;
    padding: 0;
    color: #E6AF50;
    font-size: 25px;
}

.grey-divider {
    width: 80vw;
    max-width: 900px;
    height: 2px;
    background-color: #b6b6b6;
    margin: 10px 0 0 0;
}