.service-item {
    background-color: white;
    border: 1px solid #a4a4a4;
    min-width: 480px;
    max-width: 640px;
    width: 60vw;
    height: 80px;
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 0 5px 5px #b0b0b0ff;

    overflow: hidden;
    transition: all 0.3s ease-in;
}

.service-item.expanded {
    height: auto;
    background-color: #f1f1f1;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 28px auto auto auto;
    column-gap: 15px;
    row-gap: 10px;
    width: 100%;
}

.item-title {
    grid-column: 1;
    grid-row: 1;
    font-family: Kumbh Sans;
    font-weight: 550;
    font-size: 18px;
    justify-self: start;
    width:100%;
}

.item-price {
    grid-column: 2;
    grid-row: 1;
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    justify-self: center;
}

.item-description {
    grid-column: 1;
    grid-row: 2;
    font-family: Kumbh Sans;
    font-weight: 200;
    font-size: 18px;
    margin: 0;
    justify-self: start;

    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3 ease;
    line-height: 1.3;
    white-space: nowrap;
    width: 100%;
}

.service-item.expanded .item-description {
    white-space: normal;
}

.item-btn {
    grid-column: 2;
    grid-row: 2;
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding: 10px;
    height: 35px;
    width: 70px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    background-color: #d2bba0;
    border: 0;
}

.item-duration {
    grid-column: 1 / -1;
    grid-row: 3;
    margin: 15px 0 0 0;
    font-family: 'Kumbh Sans';
    font-weight: 200;
    font-size: 18px;
}

.tag-section {
    grid-column: 1 / -1;
    grid-row: 4;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.service-tag {
    background-color: #b98a59;
    border-radius: 12px;
    color: white;
    padding: 8px 10px;
    font-family: 'Kumbh Sans';
    font-weight: 300;
    font-size: 15px;
}