@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

.ModalBackground {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ReviewModalContainer {
    position: fixed;
    z-index: 2000;
    width: 80%;
    max-width: 900px;
    min-height: 80%;
    max-height: 80%;
    border-radius: 20px;
    background-color: #fffaf5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: fadeIn 0.25s ease-out;
}

.ReviewModalContainer .ReviewModalTitle {
    background-color: #efe6da;
    height: auto;
    padding: 20px;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.ReviewModalContainer .ReviewModalTitle .step-title {
    font-size: 23px;
    font-weight: 500;
    color: #3b2b1e;
    margin: 0;
    padding: 0;
}

.ReviewModalContainer .ReviewModalTitle .review-close {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.ReviewModalContainer .ReviewModalBody {
    flex: 1;
    padding: 25px 30px;
    overflow-y: auto;
    text-align: left;
    line-height: 1.5;
}

.ReviewModalContainer .ReviewModalFooter {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-top: 1px solid #e8dccc;
}

.ReviewModalContainer .modal-btns {
    width: fit-content;
    height: 25px;
    font-size: 12px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s ease;
    color: white;
    background-color: #bfa47c;
    padding: 5px 10px;
}

.ReviewModalContainer .modal-btns:hover:not(:disabled) {
    background-color: #a18763;
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(191, 164, 124, 0.4);
}

.ReviewModalContainer .modal-btns:disabled {
    opacity: 70%;
    cursor: not-allowed;
    transform: none;
    background-color: #bfa47c;
    box-shadow: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -48%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.ReviewModalContainer .ReviewModalBody::-webkit-scrollbar {
    width: 8px;
}
.ReviewModalContainer .ReviewModalBody::-webkit-scrollbar-thumb {
    background-color: #d1bca0;
    border-radius: 6px;
}

.ReviewModalBody .appointment-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ReviewModalBody .review-top {
    display: flex;
    justify-content: space-between;
}

.ReviewModalBody .review-top .poster-name {
    font-family: 'Kumbh Sans';
    font-weight: 500;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.ReviewModalBody .review-top .star-select {
    justify-self: end;
    margin: 0 0 10px 0;
}

.ReviewModalBody .input-content {
    resize: none;
    width: 95%;
    height: 120px;
    font-family: 'Kumbh Sans';
    border-radius: 10px;
    padding: 10px;
}

.ReviewModalBody .img-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 10px 0 0 0;
}

.ReviewModalBody .edit-input.img {
    width: 80%;
}

.ReviewModalBody .img-preview {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}