@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

body {
    background-color: white;
    font-family: 'Kumbh Sans', sans-serif;
    padding: 0;
    margin: 0;
}